@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090d16 !important;
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Inter', sans-serif !important;
  min-height: 100vh !important;
}
